@model SSA_NMCT2_DeschrijverPieterjan.ViewModel.HomeVM

@{
    ViewBag.Title = "Index";
}



<div id="bandindex">

    

      @foreach (var item in Model.Bands) {
   
    <div id="band">
                <h2>@Html.ActionLink(item.Name, "../Band/Details", new { id=item.ID })</h2>
                <div id="bandfoto">
                    <img src="~/Images/@Html.DisplayFor(modelItem => item.Picture)" />
                </div>                       
            </div>       
    
  
  }
 
           


</div>
<div id="nieuwtjes">
    <h1>Laatste Nieuws</h1>
@foreach (var item in Model.News) {
   
           <div id="nieuws">
        <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
        <p>@Html.DisplayFor(modelItem => item.Content)</p>
    </div>  
}
    </div>